@import "../../styles/utils/vars";

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  min-height: 50px;
  padding: 10px;

  border-radius: 6px;
  background-color: $base-color-red;

  &--green {
    background-color: $base-color-green;
  }

  &__text {
    color: #fff;
    word-wrap: break-word;
  }
}
