@import "../styles/utils/vars";

.button {
  width: 150px;
  height: 40px;

  color: #fff;
  font-weight: 700;
  text-transform: uppercase;

  border-radius: 5px;
  background-color: $second-color-green;

  cursor: pointer;

  &:hover {
    background-color: $base-color-green;
  }

  &:active {
    background-color: #2f6954;
  }

  &:disabled {
    cursor: auto;

    background-color: #546d64;
  }
}
