@import "../../styles/utils/vars";

.inputField {
  &__label-text {
    margin-bottom: 5px;

    font-size: 20px;
    font-weight: 700;
    color: $base-color-green;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    width: 250px;
    height: 35px;
    padding: 0 5px;

    color: $base-color-green;
    border: none;
    border-bottom: 2px solid $base-color-green;
    border-radius: 2px;

    &:focus {
      border-color: $second-color-green;
    }

    &::placeholder {
      color: $base-color-green;
    }
  }
}
